ion-card {
    --background: #efd3b6;
    --color: #000000;
  }
    
  ion-card-title {
    --color: #000000;
  }
    
  ion-card-subtitle {
    --color: #000000;
  }
  h2.center{
    text-align: center;
  }