<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
    <ion-title>
      AGIM
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFIkhGBPO9Ox-FaULcPQ7I7rdEvqYWvTmtVlSpYWpyj5xRrSm6IFSTZgllZPyG0q2IHf8&usqp=CAU"
            alt="Ionic logo"
            loading="lazy"
          />
        </ion-col>
        <ion-col size-md="9" size="12" class="welcome">
          <ion-card-header>
            <ion-card-title> Bienvenido a AGIM </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-button (click)="onClick()">Cerrar Sesión</ion-button>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
