ion-item{
    --background:#ffffff;
    box-shadow: none !important;
    ion-label{
      color:rgb(0, 0, 0);
    }
    ion-input{
    //background-color:#ffffff;
    color:rgb(0, 0, 0);
    }
}

h2.center{
  text-align: center;
}